select:focus,
button:focus,
input:focus {
	outline: none;
}
.wrapper {
	text-align: center;
    margin-top: 120px;
}
.form-container {
	display: inline-block;
	padding: 20px 25px;
	border: 1px solid #ccc;
	background: #eee;
}
.form-group input {
	padding: 10px;
	width: 150px;
	border: none;
}
.form-group select {
	margin: 0 10px;
	height: 35px;
	border: none;
}
.btn-default {
	height: 35px;
	padding: 0 20px;
	border: 1px solid #ccc;
}
.text-danger {
	padding: 5px;
	text-align: left;
	color: red;
	font-style: italic;
}