<div class="wrapper">
	<form #searchForm="ngForm" novalidate (ngSubmit)="save(searchForm.valid, searchForm.value)" class="form-container">
		<span class="form-group">
			<input
				type="text" 
				name="inputValue" 
				required
				[(ngModel)]="searchTerm.inputValue" 
				#inputValue="ngModel"
				placeholder="Input text to search">
	
		</span>
		<span class="form-group">
			<select 
				required 
				name="selectedSearchEngine"
				[(ngModel)]="searchTerm.selectedSearchEngine"
				#selectedSearchEngine="ngModel">
				<option value="" hidden>Choose search engine</option>
				<option *ngFor="let item of searchEngines" [value]="item.name">{{item.name}}</option>
			</select>
		</span>
		<button class="btn-default" type="submit">Search</button>
		<div [hidden]="inputValue.valid || (inputValue.pristine && !searchForm.submitted)" class="text-danger">
			Input text to search
		</div>
		<div [hidden]="selectedSearchEngine.valid || (selectedSearchEngine.pristine && !searchForm.submitted)" class="text-danger">
			Choose search engine
		</div>
	</form>
</div>